@import "../../vars.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.title {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.menuBtn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItems li {
  margin: 0 1rem;
}

.menuItems a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.menuItems a:hover {
  color: #3fbbc0;
}

.animated-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animated-section.animate {
  opacity: 1;
  transform: translateY(0);
}
/* Media query for screens up to 991px */
@media (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%; /* Hide the menu off-screen by default */
    width: 50%; /* Reduce the width to 50% */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 1rem;
    transition: right 0.3s ease-in-out; /* Smooth transition */
    z-index: 1000; /* Ensure it appears above other content */
  }

  .menuOpen {
    right: 0; /* Bring the menu on-screen */
  }

  .menuItems {
    flex-direction: column;
    width: 100%;
  }

  .menuItems li {
    margin: 1rem 0;
  }

  .menuBtn {
    display: block; /* Show the hamburger icon on mobile */
    z-index: 1001; /* Ensure it appears above the menu */
  }
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem; /* Reduce padding for smaller screens */
  }

  .title {
    font-size: 1.2rem; /* Reduce font size for the title */
  }

  .menuBtn {
    font-size: 1.5rem; /* Reduce font size for the menu button */
  }

  .menu {
    width: 60%; /* Adjust the width to 60% for smaller screens */
  }

  .menuItems a {
    font-size: 0.9rem; /* Reduce font size for menu items */
  }

  .menuItems li {
    margin: 0.8rem 0; /* Adjust margin for menu items */
  }
  .menu {
    display: flex;
  }
  
  .menuOpen {
    right: 0; /* Bring the menu on-screen */
  }
}
