@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse; /* Stack content and image vertically */
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Reduced margin for mobile */
  z-index: 1;
  margin-left: 5%; /* Reduced margin for mobile */
  margin-right: 5%; /* Reduced margin for mobile */
}

.heroImg {
  height: 300px; /* Reduced height for mobile */
  width: 300px; /* Reduced width for mobile */
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circle */
  border: 2px solid #fff; /* Optional border */
  margin-bottom: 20px; /* Added margin for spacing */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align for mobile */
  text-align: center; /* Center text for mobile */
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 36px; /* Reduced font size for mobile */
  font-weight: 900;
  margin-bottom: 20px; /* Reduced margin for mobile */
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 20px; /* Reduced font size for mobile */
  font-family: var(--font-roboto);
  margin-bottom: 30px; /* Reduced margin for mobile */
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 20px; /* Reduced font size for mobile */
  font-weight: 600;
  padding: 12px 20px; /* Adjusted padding for mobile */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px; /* Added margin for spacing */
}

.resumeBtn {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-text);
  border-radius: 50px;
  font-size: 20px; /* Reduced font size for mobile */
  font-weight: 600;
  padding: 12px 20px; /* Adjusted padding for mobile */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.resumeBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  transition: left 0.5s ease;
}

.resumeBtn:hover::before {
  left: 100%;
}

.resumeBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.resumeBtn:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

/* Media queries for laptop and desktop screens */
@media screen and (min-width: 831px) {
  .heroImg {
    height: 400px; /* Increased height for laptop and desktop */
    width: 400px; /* Increased width for laptop and desktop */
  }

  .title {
    font-size: 48px; /* Increased font size for laptop and desktop */
    margin-bottom: 30px; /* Increased margin for laptop and desktop */
  }

  .description {
    font-size: 24px; /* Increased font size for laptop and desktop */
    margin-bottom: 40px; /* Increased margin for laptop and desktop */
  }
}